.layout{
    margin-top: 100px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background{
    background-color: #E8F1FF;
    border-radius: 60px;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
}
.button{
    background-color:  #3f51b5;
    padding: 20px 30px;
    border-radius: 30px;
    width: 170px;
    border: none;
    color: white;

}
.text{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    text-align: justify;
    margin-bottom: 30px;
}