.header{
    width: 100%;
    height: 100px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: 100px;
}

.title img {
    width: 100px;
    height: 100px;
}
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    color: black;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 100px;
  }
  .menu img{
      width: 30px;
      background-color: antiquewhite;
  }